# Python specific
*.pyc
__pycache__/

# Environment
venv/
env/
*.env

# Ignore data files or token files (if they contain sensitive information)
data.txt

# IDE specific files
.idea/
.vscode/

# Other
*.log
